<p>
  <h1 class="main-banner">Name of the artist:</h1>
  <h1><%= @artist.name %></h1>
  <%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: {confirm: "Are you sure?"}, class: "button" %>
</p>

<h2>List of Songs:</h2>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li class="song_name"><%= song.name %></li>
      <%= link_to "Delete song", url_for([@artist, song]), method: :delete, data: {confirm: "Are you sure?"}, class: "button" %>
    <% end %>
  </ul>
<% else %>
  <p>There are no song belongs to this artist!</p>
<% end %>

<hr>

<%= form_for [@artist, @artist.songs.build] do |f| %>

 <div class='form-group'>
   <label>Add new Song</label>
   <%= f.text_field :name, placeholder: 'Write a name of song:', class: 'form-control' %>
 </div>

 <div class='actions'>
   <%= f.submit 'Save', class: 'btn btn-primary main-button' %>
 </div>


<% end %>
