<p>
  <h1 class="main-banner">Name of the artist:</h1>
  <h1><%= @artist.name %></h1>
  <%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: {confirm: "Are you sure?"}, class: "button" %>
</p>


<!-- LIST OF SONGS -->
<h2>List of Songs:</h2>

<% if @artist.songs.any? %>
  <ul id="songList">
    <% @artist.songs.each do |song| %>
      <li class="song_name"><%= song.name %></li>
      <div id="delete-song-<%= song.id %>" ><%= link_to "Delete song", url_for([@artist, song]), method: :delete, data: {confirm: "Are you sure?"}, class: "button" %></div>
    <% end %>
  </ul>
<% else %>
  <p>There are no song belongs to this artist!</p>
<% end %>

<hr>

<!-- FORM -->
<div id="add-song-wrapper">
<h1> Add Song for <%= link_to @artist.name, @artist %>:</h1>

  <%= form_for ([@artist, @artist.songs.build])  do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.hidden_field :artist_id, value: @artist.id %>

    <%= f.submit "Create", data: { disable_with: false } %>
    <div><button id="delete-songs" >Delete all songs</button></div>
  <% end %>

</div>
